{% load static %}

<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>توس‌حجت</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/vazir-font/css/vazir.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-50">
    <header class="bg-gray-900 sticky top-0 z-10 transition-all duration-500">
        <nav class="flex flex-row justify-center space-x-reverse space-x-20 p-5 bg-transparent z-50 transition-all duration-300">
            <div class="font-vazir font-semibold text-2xl text-red-500">
                <a href="{% url "index" %}">توس‌حجت</a>
            </div>
            <div class="hamburger flex flex-col cursor-pointer md:hidden" id="hamburger">
                <span class="block w-6 h-0.5 bg-white mb-1"></span>
                <span class="block w-6 h-0.5 bg-white mb-1"></span>
                <span class="block w-6 h-0.5 bg-white"></span>
            </div>
            <ul class="nav-links hidden flex-col md:flex md:flex-row md:space-x-reverse md:space-x-7" id="nav-links">
                <li class="text-lg font-vazir font-medium hover:text-red-500 transition-colors text-white">
                    <a href="{% url "about" %}">درباره‌شرکت</a>
                </li>
                <li class="text-lg font-vazir font-medium hover:text-red-500 transition-colors text-white">
                    <a href="{% url "products" %}">معرفی‌محصولات</a>
                </li>
                <li class="text-lg font-vazir font-medium hover:text-red-500 transition-colors text-white">
                    <a href="{% url "contact" %}">ارتباط‍‌ باما</a>
                </li>                
            </ul>
            <button id="theme-toggle" class="text-2xl rounded ml-4 px-3 py-1 bg-gray-300 dark:bg-gray-700 text-black dark:text-white shadow">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </button>
        </nav>
    </header>
